/* HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #E44C65;
    text-shadow: none;
}

::selection {
    background: #E44C65;
    text-shadow: none;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/* ==========================================================================
   Colors
   ========================================================================== */
$background-color: #1C1D26;
$primary-color: #E44C65;
$secondary-color: #00CBE9;
$text-color: #EEE;
$dimmed-text-color: #AAA;
$width-threshold: 960px;

/* ==========================================================================
   Fonts
   ========================================================================== */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.eot?v=1.1.0");
  src: url("../fonts/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"),
       url("../fonts/OpenSans-Regular.woff2?v=1.1.0") format("woff2"),
       url("../fonts/OpenSans-Regular.woff?v=1.1.0") format("woff"),
       url("../fonts/OpenSans-Regular.ttf?v=1.1.0") format("truetype"),
       url("../fonts/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal;
 }

 @font-face {
   font-family: 'League Gothic';
   src: url('../fonts/leaguegothic-regular-webfont.eot');
   src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
        url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
        url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
   font-weight: normal;
   font-style: normal;
 }

 /* ==========================================================================
   Custom styles
   ========================================================================== */
body {
  background: $background-color url('../images/wood.jpg');
  color: $dimmed-text-color;
  font-family: 'Open Sans', sans-serif;
}

.intro {
  padding: 4em 1.5em 1.5em 1.5em;
  text-align: right;
  display: flex;
  flex-flow: column;
  min-height: 25em;

  .image {
    display: none;
  }

  .text {
    order: 2;
  }

  p {
    margin: 0;
    padding: 0;
  }

  h1 {
    text-transform: uppercase;
    margin: 0.25em -0.75em;
    padding: 0.15em 0.35em 0.05em 0.4em;
    background: $primary-color;
    color: #fff;
    letter-spacing: 0.075em;
    font-family: 'League Gothic', sans-serif;
  }

  .location {
    color: $text-color;
    font-weight: bold;
  }

  .links {
    padding-top: 1em;
    font-size: 3em;
  }

  a {
    -o-transition: color .5s;
    -ms-transition: color .5s;
    -moz-transition: color .5s;
    -webkit-transition: color .5s;
    transition: color .5s;

    &:link, &:visited {
      color: $text-color;
    }

    &:hover, &:active {
      color: $secondary-color;
    }
  }
}

@media (min-width: $width-threshold) {
  body {
      overflow: hidden;
  }

  .intro {
    padding: 0;
    font-size: 1.5em;
    position: absolute;
    top: 35%;
    right: 15%;
    flex-flow: row;

    h1 {
      margin: 0.25em 0;
    }

    .image {
      display: block;
      order: 3;
      margin: 0.5em 0 0 2em;
    	width: 220px;
    	height: 220px;
    	-o-border-radius: 110px;
    	-moz-border-radius: 110px;
    	-ms-border-radius: 110px;
    	-webkit-border-radius: 110px;
    	border-radius: 110px;
    	background: url('../images/profile_220.png') no-repeat;
      border: 2px solid $primary-color;
    }

    .links {
      font-size: inherit;
    }
  }
}
